@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;600&display=swap');

html {
  font-size: 18px;
}

body {
  margin: 0;
  background-color: #2E2E35;
  color: #fff;
  font-family: 'Source Code Pro', monospace;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

::selection {
  background-color: #fff;
  color: #000;
}

.MainSection {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 50px 200px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.MainSection .centralSection {
  position: relative;
  width: 100%;
}

.MainSection .definition {
  white-space: pre-wrap;
  margin: 0 0 50px;
}

.MainSection .definition,
.MainSection .userInput {
  position: relative;
  width: 100%;
}

.MainSection .userInputWrapper {
  font: inherit;
  position: relative;
  display: block;
  padding: 3px 25px;
  border: 1px solid #fff;
  top: -3px;
  left: -25px;
}

.MainSection .userInputWrapper.hasError {
  border-color: #f00;
}

.MainSection .userInputWrapper:hover {
  cursor: text;
}

.MainSection .userInput {
  margin: 10px 0;
  font: inherit;
  border: none;
  color: inherit;
  background-color: inherit;
  resize: none;
  display: block;
  padding: 0;
  transform: translateX(-1px);
}

.MainSection .userInput:focus {
  outline: none;
}
.MainSection .userInput:focus::placeholder {
  color: transparent;
}

.UsefulScoresSubsection {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.UsefulScoresSubsection .ScoreView {
  width: 30%;
}

.PrevScoresSection {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 50px 200px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PrevScoresSection h2 {
  margin: 0;
}

.PrevScoresSection .scoreViewsContainer {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
}

.PrevScoresSection .buttons {
  display: block;
  margin-top: 30px;
}

.ScoreView {
  display: inline-block;
  padding: 10px;
  text-align: center;
}

.ScoreView .title {
  font-weight: bold;
  margin: 10px 0 10px;
}

input[type="button"] {
  background: none;
  border: 1px solid #fff;
  border-radius: 5px;
  color: inherit;
  padding: 5px 25px;
  font: inherit;
  cursor: pointer;
}

input[type="button"]:hover {
  font-weight: bold;
}

.PerformanceIndicator {
  display: inline-block;
  position: relative;
  width: 16px;
  filter: invert(1);
  height: 16px;
  left: 5px;
  top: 2px;
}

.PerformanceIndicator img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  user-select: none;
}
