body {
  margin: 0;
}

.redBg {
  background-color: red;
}

.whiteBg {
  background-color: white;
}

.App .definition {
  white-space: pre-wrap;
}

.scores {
  padding: 15px;
  overflow: scroll;
  white-space: nowrap;
}

.ScoreView {
  display: inline-block;
  padding: 10px;
}
